body {
    background-color: antiquewhite;
    width: 100%;
}
.App{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
header{
    margin: 50px auto;
    text-align: center;
}
header svg{
    width: 120px;
    height: 120px;
}
ul{
    margin: 50px auto;
}
ul li{
    border: 1px solid rgb(189, 177, 163);
    margin-bottom: 30px;
    padding: 10px;
    display: block;
}